
@{
}

<h2>Manage Resources for [company]</h2>
<hr/>
Available
<select size="10">
    <option>Luann Platter</option>
    <option>Bobby Hill</option>
    <option>Bill Dozer </option>
</select>

<a href="/company/manageresources">Hire --&gt;</a>
<a href="/company/manageresources">&lt;-- Terminate</a>

Employed
<select size="10">
    <option>Hank Hill</option>
    <option>Dale Gribble</option>
</select>