@using PayrollSystemLib
@model IEnumerable<IdName>
@{
	ViewData["Title"] = "Company Home";
}

<h1>Company Home Page</h1>
<hr/>
<ul>
	@foreach (var o in Model) {
	<li><a href="~/Company/EditDetail/@o.Id">@o.Name</a></li>
	}
</ul>