
@{
    ViewData["Title"] = "Company Home";
}

<h1>Welcome to the Company Home page!</h1>
<hr/>

<a href="~/company/editdetail/1">Strickland Propane</a>
<br/>
<a href="~/company/editdetail/2">Dale's Deadbug</a>
<br/>
<a href="~/company/editdetail/3">Arlen Barbershop</a>
<br/>
