@{
    ViewData["Title"] = "Company Home";
}

<h1>Welcome to the Company Home page!</h1>
<hr />

@foreach (var v in ViewBag.Companies)
{
    <a href="~/company/editdetail/@v.Id">@v.Name</a>
    <br />
}