@{
}

<h2>Manage Resources for [company]</h2>
<hr />
<div class="container-lg">
    <div class="row">
        <div class="col-4">
            Available
            <select class="form-select" size="10">
                <option>Luann Platter</option>
                <option>Bobby Hill</option>
                <option>Bill Dozer </option>
            </select>
        </div>
        <div class="col-3 align-self-center text-center">
            <a class="btn btn-primary mb-5" href="/company/manageresources">Hire --&gt;</a>
            
            <a class="btn btn-primary" href="/company/manageresources">&lt;-- Terminate</a>
        </div>
        <div class="col-4">
            Employed
            <select class="form-select" size="10">
                <option>Hank Hill</option>
                <option>Dale Gribble</option>
            </select>
        </div>
    </div>
</div>